---
import Banner from "../../components/Banner.astro";
import Productos from "../../components/Productos.astro";
import Sar from "../../components/Sar.astro";
import Eft from "../../components/Eft.astro";
import Stats from "../../components/Stats.astro";
import Sof from "../../components/Sof.astro";
import Bantiq from "../../components/Bantiq.astro";
import Layout from "../../layouts/Layout.astro";
import Procesos from "../../components/Procesos.astro";
import Footer from "../../components/Footer.astro";

---

<Layout title="Home">
    <main class="text-gray-900">

        <Banner />

        <Productos/>

        <Procesos />

        <Stats />

        <Sar />

        <Eft />

        <Sof />

        <Bantiq />


    </main>
    
	<Footer />
     
</Layout>
</div>