---
import Layout from "../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Contacto">
    <div class="bg-white px-6 py-12 sm:py-24 lg:px-8">
        <div class="mx-auto max-w-xl flex flex-col items-center justify-center text-center animate-fade-up animate-once animate-ease-in-out">
          <h1 class="text-4xl md:text-5xl font-bold tracking-tight text-gray-900">{t('demo.title')}</h1>
          <p class="mt-3 text-lg text-gray-600">
            <Fragment set:html={t('demo.subtitle')} />
        </div>
        <form class="mx-auto mt-16 max-w-xl sm:mt-20">
          <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
            <div>
              <label for="first-name" class="block text-sm font-semibold leading-6 text-gray-900">{t('form.nombre')}</label>
              <div class="mt-2.5">
                <input required="" type="text" name="first-name" id="first-name" autocomplete="given-name" placeholder={`${t('form.nombre.placeholder')}`} class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div>
              <label for="last-name" class="block text-sm font-semibold leading-6 text-gray-900">{t('form.apellidos')} </label>
              <div class="mt-2.5">
                <input required="" type="text" name="last-name" id="last-name" autocomplete="family-name" placeholder={`${t('form.apellidos.placeholder')}`}  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="company" class="block text-sm font-semibold leading-6 text-gray-900">Empresa</label>
              <div class="mt-2.5">
                <input required="" type="text" name="company" id="company" autocomplete="organization" placeholder={`${t('form.nombre.placeholder')}`}  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">{t('form.empresa')}</label>
              <div class="mt-2.5">
                <input required="" type="email" name="email" id="email" autocomplete="email" placeholder={`${t('form.empresa.placeholder')}`} class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="phone" class="block text-sm font-semibold leading-6 text-gray-900">{t('form.telefono')}</label>
              <div class="mt-2.5">
                <input required="" type="tel" name="phone" id="phone" autocomplete="tel" placeholder={`${t('form.telefono.placeholder')}`}  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="message" class="block text-sm font-semibold leading-6 text-gray-900">{t('form.mensaje')}</label>
              <div class="mt-2.5">
                <textarea name="message" id="message" rows="4" placeholder={`${t('form.mensaje.placeholder')}`}  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"></textarea>
              </div>
            </div>
          </div>
          <div class="mt-10">
            <button type="submit" class="bg-blue-600 text-white rounded-sm py-2 w-full block">{t('form.button')} </button>
          </div>
        </form>
      </div>
      
</Layout>