---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="solution" class="py-20 lg:pt-32 bg-gray-100">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl lg:text-5xl font-extrabold 
        animate-fade-up animate-once animate-ease-in-out">
        <Fragment set:html={t('producto.title')} />
        </h2>

        <div class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 mt-8 lg:px-24 gap-5">

            <div class=" bg-white rounded-lg shadow-lg p-10">
                <img src="img1.svg" alt="" class="w-full object-cover">
            </div>

            <div class="bg-white rounded-lg shadow-lg p-10">
                <img src="img2.svg" alt="" class="w-full object-cover">
            </div>

            <div class="bg-white rounded-lg shadow-lg p-10">
                <img src="img3.svg" alt="" class="w-fullobject-cover">
            </div>

            <div class="bg-white rounded-lg shadow-lg p-10">
                <img src="img4.svg" alt="" class="w-full object-cover">
            </div>
            
        </div>

    </div>
</section>
